<h1>Add celebrity to database</h1>
<form action="/celebrities/create" method="POST">
    <label>
        Name
        <input type="text" name="name" required>
    </label>
    <label>
        Occupation
        <input type="text" name="occupation" required>
    </label>
    <label>
        Catch phrase
        <input type="text" name="catchprase">
    </label>
    <button type="submit">Add</button>
</form>